# --- PYTHON STANDARD ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.vscode/
.idea/

# --- S.C.E PROJECT SPECIFIC ---

# 1. DONNEES (DATA)
# On ignore les gros fichiers de production, MAIS on garde nos templates
data/*.csv
!data/inventory_data.csv
!data/sales_history.csv
!data/transport_logs.csv
!data/.gitkeep

# 2. MODELES D'IA (MODELS)
# On ignore les futurs modèles lourds, MAIS on autorise le modèle principal
models/*.pkl
models/*.h5
models/*.joblib
!models/demand_rf_model.pkl
!models/.gitkeep

# 3. RAPPORTS ET LOGS
reports/
*.log
.pytest_cache/
.coverage
htmlcov/

# --- SYSTEM ---
.DS_Store
Thumbs.db
